#chess2DBox{:style => "width: 512px; height: 512px;", 'ng-controller' => 'BoardsController'}
  %table#flatChessboard{:style => "width: 500px; height: 500px; margin-bottom: 6px; margin-top: 6px; "}
    %tbody
      %tr
        %td.boardAngle
        %th.horizCoords a
        %th.horizCoords b
        %th.horizCoords c
        %th.horizCoords d
        %th.horizCoords e
        %th.horizCoords f
        %th.horizCoords g
        %th.horizCoords h
        %td.boardAngle
      %tr{ 'ng-repeat' => 'row in squares'}
        %th.vertCoords {{$index + 1}}
        %td{'ng-repeat' => 'p in row', 'class' => "{{classFor($index, $parent.$index)}}", 'id' => "flatSq{{9 - $parent.$index}}{{$index + 1}}"}
          %span {{ p.to_s() }}
        %th.vertCoords {{$index + 1}}
      %tr
        %td.boardAngle
        %th.horizCoords a
        %th.horizCoords b
        %th.horizCoords c
        %th.horizCoords d
        %th.horizCoords e
        %th.horizCoords f
        %th.horizCoords g
        %th.horizCoords h
        %td.boardAngle
